{
  "presets": [
    "stage-1"
  ],
  "plugins": [
    "add-module-exports",
    "transform-runtime",
    "transform-class-properties",
    "transform-es2015-modules-commonjs"
  ],
  "sourceMaps": "inline"
}
