{
  "extends": "airbnb",
  "globals": {
    "conf": true,
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "afterEach": true,
    "after": true,
    "requireF": true,
    "rootPath": true,
    "rootTest": true,
    "testRequire": true,
    "server": true
  },
  "rules": {
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "import/prefer-default-export": 0,
    "default-case": 0
  }
}
