{
  "env": {
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "conf": true,
    "describe": true,
    "eventEmitter": true,
    "i18n": true,
    "isMaster": true,
    "isTest": true,
    "it": true,
    "requireF": true,
    "rootPath": true,
    "pkg": true,
    "server": true,
    "testing": true
  },
  "rules": {
    "default-case": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "import/prefer-default-export": 0,
    "no-console": 0
  }
}
